.model {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.close-model {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    padding: 20px;
    cursor: pointer;
    fill: white;
    transition: all ease 0.2s;
}

.close-model:hover {
    fill: #ccc;
}

.model-chil{
    width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

.model.active {
    visibility: visible;
}