.shopPage {
    padding: var(--padding);
    background-image: linear-gradient(0deg, var(--primary-color), var(--color-fill));
}

.shop-container,
.shop-head{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-behavior: smooth;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shop-head__top {
    display: flex;
    align-items: center;
}

.shop-head__top-left {
    width: 40%;
    margin-right: 20px;
}

.shop{
    margin-bottom: 20px;
}

.shop-logo {
    display: flex;

}

.logo-img {
    width: 100px;
    height: 100px;
    margin-right: 12px;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
}

.shop-name {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.shop-status {
    font-size: 0.8rem;
    color: #333;
}

.shop-btns {
    display: flex;
}

.shop-btn {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 12px;
    transition: all ease 0.2s;
    color: var(--primary-color);
    fill: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.shop-btn:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shop-btn span {
    width: 10px;
    margin-right: 10px;
}

.shop-btn p {
    font-size: 0.8rem;
    font-weight: 500;
}



.shop-head__top-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.shop-head__top-right-child {
    width: 50%;
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.shop-head__top-right-child-logo {
    width: 15px;
    margin-right: 10px;
}

.shop-head__top-right-child-title {
    margin-right: 2px;
}

.shop-head__top-right-child-qual {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}


.shop-head__bott {
    margin-top: 40px;

}

.shop-container h1 {
    margin-bottom: 30px;
}

.shop-exam {
    margin-bottom: 50px;
}

.shop-exam__product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.shop-exam__product::-webkit-scrollbar{
    display: none;
}

.div-shop-exam__product {
    width: 20%;
    padding: 0 10px;
    border-radius: 10px;
}

.shop-exam__img,
.shop-exam__banner {
    height: 100vh;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shop-exam__banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shop-exam__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.shop-all__container {
    display: flex;

}

.shop-all__container-left {
    width: 25%;

}

.shop-all__container-right {
    width: 75%;
}


.container-left__heading {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.container-left__heading span {
    width: 12px;
    margin-right: 12px;
}

.container-left__item{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding-bottom: 12px;
    cursor: pointer;
    margin-bottom: 4px;
    transition: all ease 0.2s;
}

.item-around {
    width: 8px;
    margin-right: 10px;
}

.container-left__item:hover{
    color: var(--primary-color);
    fill: var(--primary-color);
}


.container-left__item.activeMenu{
    color: var(--primary-color);
    fill: var(--primary-color);
}


.shop-all__container-right-div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.shop-all__container-right-div::-webkit-scrollbar{
    display: none;
}

.shop-all__container-right-item {
    width: 20%;
    padding: 0 10px;
}