@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --height-header: 50px;
    --primary-color: rgb(17, 179, 90);
    --hover-color: rgb(133, 250, 186);
    --color-fill: rgb(12, 241, 115);
    --padding: 50px;
}